In [1]:
import sys, os
sys.path.append(os.path.abspath('../packages/'))

In [2]:
from bigpy import office

In [5]:
excel_frame = office.Excel('../data/NC Dinos 2015.xlsx')
excel_frame

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
3,이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
4,김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
5,조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
6,손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
7,이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
8,모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
9,지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
10,용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
11,최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
12,박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
13,김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
14,조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
15,이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
16,김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
17,강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
18,강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
19,김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09

In [9]:
excel_frame[:3]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52

In [7]:
excel_frame.ix[[0, 1]]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.52,11.73
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.39,4.46

In [8]:
excel_frame.ix[[1,0]]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.39,4.46
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.52,11.73

In [13]:
excel_frame[['안타', '홈런']][:3]

    안타  홈런
0  180  47
1  184  28
2  158   3

In [12]:
excel_frame[['홈런', '안타']][:3]

   홈런   안타
0  47  180
1  28  184
2   3  158

In [14]:
excel_frame = excel_frame.set_index('선수명')
excel_frame[:3]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52

In [15]:
excel_frame.ix[['나성범', '테임즈']]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.39,4.46
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.52,11.73

In [16]:
excel_frame.ix[['나성범', '테임즈'], ['타석', '안타', '홈런']]

      타석   안타  홈런
선수명
나성범  622  184  28
테임즈  595  180  47

In [18]:
(excel_frame['안타'] + excel_frame['홈런'])/excel_frame['타석']

선수명
테임즈    0.381513
나성범    0.340836
박민우    0.260940
이호준    0.301158
김종호    0.265432
조영훈    0.294521
손시헌    0.238189
이종욱    0.244048
모창민    0.284519
지석훈    0.261803
용덕한    0.244898
최재원    0.225490
박정준    0.333333
김태군    0.238397
조평호    0.409091
이창섭    0.000000
김준완    0.185185
강구성    0.200000
강민국    0.000000
김태진    0.000000
dtype: float64

In [20]:
excel_frame_out = excel_frame[['타석', '안타', '홈런']].copy()
excel_frame_out['시즌'] = 2015
excel_frame_out.to_excel('NC15.xlsx')